.note-list
{
    height: 100%;
    width: 380px;
    max-width: 670px;
    min-width: 197px;
    background: #F8F8F8;
    border-right: 1px solid lightpink;
    display: flex;
    flex-direction: column;
}

.header
{
    padding: 5px 25px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 100px;
    box-sizing: border-box;
    border:1px solid #ccc;
}

.header-title
{
    width: 100%;
    flex:1;
}

.header-title h1 
{
    margin:15px 0 20px;
    font-size: 20px;
    font-weight: 500;
}

.sub-header
{
    width: 100%;
    margin:5px;
    font-size: 14px;
}

.note-body
{
    width: 100%;
}

.note-card
{
    height: 180px;
    width: 100%;
    padding:20px 25px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    text-decoration: none;
    /* padding: 5px 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 200px;
    box-sizing: border-box;
    border:1px solid #ccc; */
}

.note-card-head
{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    font-size: 14px;
}

.note-title
{
    width: 100%;
    color: black;
    font-weight: 600;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.note-card-desc
{
    width: 100%;
    color: black;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.note-card-date 
{
    color: darkred;
    font-size: 15px;
}